# Default ignored files
/../../Laba_11./.idea/shelf/
/../../Laba_11./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Laba_11./.idea/httpRequests/
# Datasource local storage ignored files
/../../Laba_11./.idea/dataSources/
/../../Laba_11./.idea/dataSources.local.xml
